* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(29, 29, 29);
  background: rgb(248, 248, 247);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

